/* Section */
.section {
  padding: 50px;
  flex: 1 1 30%;
  background-color: $section-bg;
  color: $font;
  border-left: 1px solid $font;
  @include lg() {
    padding: 50px 10px;
  }
}
.article {
  margin: 0 0 30px 0;
  &__header {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $font;
  }
  &__header i {
    font-size: 40px;
    @include sm() {
      display: none;
    }
  }
  &__title {
    margin: 0 0 0 50px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    @include sm() {
      margin: 0 0 0 0px;
      font-size: 21px;
    }
  }
  &__text {
    font-size: 21px;
    @include sm() {
      font-size: 16px;
    }
  }
  &__paragraph {
    min-height: 1em;
    margin: 0;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    margin: 10px 0;
    position: relative;
    flex: 0 0 30%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $font;
    @include sm() {
      flex: 0 0 47%;
      height: 130px;
    }
    @include xs() {
      flex: 0 0 95%;
      height: 150px;
    }
    a {
      position: absolute;
      top: -2px;
      left: -2px;
      display: block;
      height: calc(100% + 4px);
      width: calc(100% + 4px);
      padding: 10px 5px;
      font-size: 14px;
      font-weight: 600;
      color: rgb(255, 255, 255, 0);
      transition: all 0.3s ease;
      border-radius: 10px;
      &:hover {
        background-color: rgb(0, 0, 0, 0.7);
        color: rgb(255, 255, 255, 1);
      }
    }
    &:nth-child(1) {
      background: url("../img/section/cv.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(2) {
      background: url("../img/section/kids-jump-tech.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(3) {
      background: url("../img/section/dice-poker.png") no-repeat;
      background-size: cover;
      
    }
    &:nth-child(4) {
      background: url("../img/section/english-for-kids.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(5) {
      background: url("../img/section/covid.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(6) {
      background: url("../img/section/gem-puzzle.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(7) {
      background: url("../img/section/keyboard.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(8) {
      background: url("../img/section/calculator.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(9) {
      background: url("../img/section/shelter.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(10) {
      background: url("../img/section/landing-eleven.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(11) {
      background: url("../img/section/momentum.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(12) {
      background: url("../img/section/portfolio.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(13) {
      background: url("../img/section/webdev.png") no-repeat;
      background-size: cover;
    }
    &:nth-child(14) {
      background: url("../img/section/github.png") no-repeat;
      background-size: cover;
    }
  }
}

