/* Aside */
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 30%;
  background-color: #0d234d;
}

/* Header */
.aside__image-wrap {
  width: 100%;
  height: 280px;
}

.aside__image {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/aside/aside__img.jpg");
  background-position: start center;
  background-repeat: no-repeat;
  background-size: contain;
}

.aside__language {
  padding: 0;
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}
.aside__languageEn, .aside__languageRu {
  width: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  transition: all 0.3s ease;
}
.aside__languageEn {
  border-radius: 5px 0 0 5px;
}
.aside__languageRu {
  border-radius: 0 5px 5px 0;
}
.aside__language_active {
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
.aside__name {
  margin: 0 0 10px 0;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #cfcfcf;
}
.aside__prof {
  margin: 0 0 10px 0;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  color: #cfcfcf;
}

/* Footer */
.aside__footer {
  padding: 100px 30px;
  font-size: 18px;
  color: #b9b9b9;
}
.aside__info {
  display: block;
  border-bottom: 1px solid gray;
  font-weight: 700;
}
.aside__link {
  color: #b9b9b9;
  transition: all 0.3s ease;
}
.aside__link:hover {
  color: rgb(226, 226, 226)
}
.aside__footer .aside__gitlink {
  font-weight: 700;
  color: rgb(226, 226, 226);
}
@media (max-width: 1199px) {
  .aside__name {
    font-size: 28px;
  }
  .aside__footer {
    padding: 100px 10px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  aside {
    flex: 0 0 100%;
  }
  .aside__image-wrap {
    height: 540px;
  }
  .aside__footer {
    padding: 100px 50px;
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .aside__image-wrap {
    height: 415px;
  }
}
@media (max-width: 430px) {
  .aside__image-wrap {
    height: 300px;
  }
  .aside__name {
    font-size: 20px;
  }
  .aside__footer {
    padding: 30px 10px;
    font-size: 12px;
  }
}