/* Section */
section {
  padding: 50px;
  flex: 1 1 30%;
  background-color: #26323a;
  color: #cfcfcf;
}
.article__header {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #cfcfcf;
}
.article__header i {
  font-size: 40px;
}
.article__title {
  margin: 0 0 0 50px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
}
.article__text {
  margin: 0 0 30px 0;
  font-size: 21px;
}
.article__link {
  font-size: 21px;
  color: #cfcfcf;
}
.article__link:hover {
  color: gray;
}
@media (max-width: 1199px) {
  section {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .article__header i {
    display: none;
  }
  .article__title {
    margin: 0 0 0 0px;
    font-size: 21px;
  }
}
@media (max-width: 430px) {
  .article__text {
    margin: 0 0 30px 0;
    font-size: 14px;
  }
}