@import "./normalize.scss";
@import "./mixins.scss";
@import "./variables.scss";
@import "./global.scss";
//elements
@import "./elements/language-switch.scss";
//components
@import "./components/aside.scss";
@import "./components/section.scss";

/* Styles */
main {
  padding: 50px 0;
  background-color: $global-bg;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  @include sm() {
    padding: 0 10px;
  }
}

