@import "./base/normalize.scss";
@import "./base/nullstyle.scss";
@import "./aside.scss";
@import "./section.scss";

/* Styles */
main {
  padding: 50px 0 50px 0;
  background-color: gray;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

