.language-switch {
  padding: 0;
  display: flex;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  &__en,
  &__ru {
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: $color-language;
    opacity: 0.5;
  }
  &__en {
    border-radius: 5px 0 0 5px;
  }
  &__ru {
    border-radius: 0 5px 5px 0;
  }
  &--active {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
  }
}
.language-switch--aside {
  position: absolute;
  top: 20px;
  left: 20px;
}