doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    //Favicon
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon/favicon-16x16.png">
    <link rel="manifest" href="./static/favicon/site.webmanifest">
    <link rel="mask-icon" href="./static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
      
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css", integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==", crossorigin="anonymous")
    title Nikolaev Alexander CV

    <!--[if lt IE 9]>
        script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->
    
  body
    main(data-main)
